.splash-slider-container {
  color: white;
  overflow: hidden;  
  background-color: white;
}

#slider1title {
  /* position: absolute; */
  /* top: 25px; */
  position: relative;
  bottom: 310px;
  /* top: 150px; */
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  /* right: 10px; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;

  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */

  /* position: relative; */
  /* top: 140px; */
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 100;
}

#slider1text {
  font-size: 16px;
  max-width: 530px;
  text-align: center;
  position: relative;
  bottom: 320px;
  left: 350px;
  display: flex;
  justify-content: center;
  /* top: 170px; */
  /* z-index: 1; */
}

.slider-img {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* margin: auto; */
  /* width: 40%; */
  /* position: relative; */
  /* right: 340px; */
  display: flex;
  /* flex-flow: column nowrap; */
  /* justify-content: center; */
  align-items: center;
  /* box-sizing: border-box; */
  /* right: 20px; for 13 inch mac make a media query */
  /* top: 5px; */
  /* z-index: -10; */
  height: 450px;
  /* min-width: 1240px; */
  /* width: 100%; */
  transition: all;
  /* z-index: -5; */
  /* transform: translateX(100%); */
}


.slidbtns {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom: 255px;
  left: 605px;
  margin-left: 10px;
  border-radius: 100px;
  height: 18px;
  width: 18px;
  background: transparent;
  border: 1.25px solid white;
  /* bottom: 220px; */
  /* left: 570px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* top: 275px; */
  /* left: 220px; */
}


.slide {
  /* z-index: -10; */
  /* transform: translateX(-33.3333%); */
  /* transition: transform 0.6s ease-in-out 0s; */
  transition: all;
  max-width: 1240px;
  display: flex;
  overflow-x: none;
  /* z-index: -11; */
}
